.property-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .property-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
  }
  
  .property-card h3 {
    margin-top: 0;
  }
  .app
  {
    margin-bottom: 70px;
  }